<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRMPRO TEST AUTOMATION">
    <test verbose="2" preserve-order="false" name="End To End">
        <classes>
            <class name="com.updateclassiccrm.testcases.HomePageTest"/>
            <class name="com.updateclassiccrm.testcases.LoginPageTest"/>
        </classes>
    </test> <!--End To End-->
</suite>