<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRMPRO TEST AUTOMATION">
    <parameter name="url" value="https://www.crmpro.com/index.html"></parameter>
    <listeners>
        <listener class-name="com.updateclassiccrm.listeners.Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="false" name="End To End">
        <groups>
            <run>
                <include name="End To End"></include>
            </run>
        </groups>
        <classes>
            <class name="com.updateclassiccrm.testcases.HomePageTest">
            </class>
            <class name="com.updateclassiccrm.testcases.LoginPageTest">
            </class>
        </classes>
    </test> <!--End To End-->
    <test verbose="2" preserve-order="false" name="Sanity">
        <groups>
            <run>
                <include name="Sanity"></include>
            </run>
        </groups>
        <classes>
            <class name="com.updateclassiccrm.testcases.HomePageTest">
            </class>
            <class name="com.updateclassiccrm.testcases.LoginPageTest">
            </class>
        </classes>
    </test> <!--Sanity-->
</suite>